include README.rst
include PYTHON_311_SUPPORT.md
include HISTORY.md
include HOW-TO-REPORT-A-BUG.md
include COPYING
include Makefile
include requirements.txt
include requirements-dev.txt
recursive-include decompyle3 *.py
include bin/decompyle3
include pytest/Makefile
include test/Makefile
recursive-include test *.py *.pyc
recursive-exclude test *.cpython-*.pyc
recursive-exclude test/bytecode_3.11/generated *.pyc
recursive-include pytest *.py
